h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    pointer-events: none;
    user-select: none;
}

/* img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
} */

/*    FONTS    */

/* Muli-Bold */
@font-face {
    font-family: Muli-Bold;
    font-style: normal;
    src: url(../fonts/Muli-Bold.ttf) format('truetype');
}

/* Muli-Italic */
@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/Muli-Italic.ttf);
}

/* Muli-Regular */
@font-face {
    font-family: Muli-Regular;
    src: url(../fonts/Muli-Regular.woff);
}

/* Muli-ExtraBold */
@font-face {
    font-family: Muli-ExtraBold;
    src: url(../fonts/Muli-ExtraBold.woff);
}

/* Muli-Semi-BoldItalic */
@font-face {
    font-family: Muli-SemiBoldItalic;
    src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}

.muli__bold{
    font-family: 'Muli-Bold';
}

.muli__italic{
    font-family: 'Muli-Italic';
}

.muli__regular{
    font-family: 'Muli-Regular';
}

.muli__extrabold{
    font-family: 'Muli-ExtraBold';
}

.muli__semibolditalic{
    font-family: 'Muli-SemiBoldItalic';
}
























/*    SMOOTHIES */

.smoothies{
    position: relative;
}

.smoothies__container{
    margin: 90px auto 105px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.smoothies__content{
    margin: 0 auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 920px;
}

.smoothies__title{
    font-size: 48.5px;
    margin-bottom: 30px;
}

.title--orange-clr{
    color: #f7ae3b;
}

.smoothies__text{
    margin: 0;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.smoothies__variety{
    max-width: 1010px;
    margin: 0 auto;
}

.variety__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.variety__list-item{
    max-width: 251px;
    min-width: 251px;
    min-height: 194px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f2612d;
    font-size: 25px;
    font-family: 'Muli-ExtraBold';
    border: 1px; 
    border-style: none solid solid none; 
    border-color: #f6edde;
}
.variety__list-item:nth-child(4){
    border-style: none none solid none; 
}
.variety__list-item:nth-child(5){ 
    border-style: none solid none none; 
}
.variety__list-item:nth-child(6){
    border-style: none solid none none;
}
.variety__list-item:nth-child(7){
    border-style: none solid none none;
}
.variety__list-item:nth-child(8){
    border-style: none;
}
.variety__img{
    width: 75px;
    height: 75px;
    object-fit: scale-down;
    margin-bottom: 20px;
    filter: grayscale(15);
}

/*    ABOUT */

.about{
    background: url(../img/Holder.png) no-repeat center top / cover;
    position: relative;
}

.about__container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.about__img{
    object-fit: cover;
    position: absolute;
    left: 7%;
    top: 6%;

}

.about__content{
    width: 50%;
    position: relative;
    padding-top: 85px;
    padding-left: 30px;
    box-sizing: border-box;
}

.about__content::before{
    content: "";
    display: block;
    background-image:url(../img/Line_about.png);
    background-size: 450px 13px;
    width: 450px;
    height: 13px;
    position: absolute;
    top: 27%;
    left: 44%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.about__title{
    font-size: 55px;
    color: #fff;
    margin-bottom: 55px;
    line-height: 1.1;
}

.about__title--lime-txt{
    color: #cae941;
}

.about__list{
    font-size: 21px;
    padding: 0;
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about__list-item{
    display: flex;
    align-items: center;
}

.about__list-img{
    margin-right: 20px;
    width: 18px;
}

.about__list-regular, .about__list-bold{
    margin-right: 7px;
}

.about__btn{
    background-color: transparent;
    border: 2px solid #f8b231;
    min-width: 380px;
    max-width: 380px;
    padding: 17px 25px;
    margin: 50px 0 95px 0;
    font-size: 21px;
    position: relative;
}

.about__btn::after{
    content: "";
    display: block;
    background-image:url(../img/Arrow.png);
    background-size: 30px 16px;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.about__btn:hover{
    background-color: #f8b231;
    border: 2px solid #fff;
}

.about__btn:hover .about__btn::after{
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

/*    PRODUCTS    */

.products__list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products__list-item{
    width: 25%;
}
.products__list-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 0 80px 0;
    color: #fff;
    text-decoration: none;
}
.products__list-item:first-child .products__list-link{
    background-color: #65281a;
}
.products__list-item:nth-child(2) .products__list-link{
    background-color: #1c896d;
}
.products__list-item:nth-child(3) .products__list-link{
    background-color: #f3ae38;
}
.products__list-item:last-child .products__list-link{
    background-color: #c44519;
}
.products__title{
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.products__size{
    font-size: 21px;
}
.products__btn{
    margin-top: 65px;
    font-size: 21px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 20px 35px;
    color: #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 205px;
    height: 60px;
    display: flex;
    align-items: center;   
    position: relative;
}

.products__btn::after{
    content: "";
    display: block;
    background-image:url(../img/Arrow.png);
    background-size: 30px 16px;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

.button__img{
    margin-left: 60px;
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

/*    STORY    */

.story__container{
    width: 68.5%;
    height: auto;
    margin: 120px auto 160px;
    display: flex;
    justify-content: center;
}
.story__content{
    width: 40%;
}
.story__title{
    font-size: 50px;
    color: #f7ae3b;
    margin: 125px 0 35px 0;
}
.story__text{
    margin: 0 0 55px 0;
    font-size: 18px;
    line-height: 1.9;
}
.story__button{
    font-size: 21px;
    height: 60px;
    width: 300px;
    position: relative;
}

.story__button::after{
    content: "";
    display: block;
    background-image:url(../img/Arrow.png);
    background-size: 30px 16px;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.story__images{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    position: relative;
}   
.story__img-second{
    position: absolute;
    left: 5%;
    top: 4%;
}


/*    TESTIMONIALS SECTION    */

.testimonials{
    background-color: #672f1b;
    position: relative;
}

.testimonials::after{
    content: "";
    display: block;
    width: 410px;
    height: 301px;
    background-image: url('../img/Dots.png');
    background-size: 410px 301px;
    position: absolute;
    top: -13%;
    right: 2%;
}

.testimonials__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 108px 0 215px;
    position: relative;
}


.testimonials__back{
    text-align: center;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    font-size: 200px;
    color: #5b220f;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.testimonials__content{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.testimonials__title{
    margin: 0;
    color: #f7ae3b;
    font-size: 50px;
}
.testimonials__title--orange-txt{
    color: #f2612d;
    text-transform: uppercase;
}
.testimonials__text{
    font-size: 18px;
    color: #fff;
    margin-right: 55px;
    margin-top: 25px;
    line-height: 1.9;
}
.testimonials__text--orange-clr{
    color: #f7ae3b;
    margin-top: 5px;
}

/*    BLOG    */

.blog{
    display: flex;
    justify-content: center;
}
.blog__container{
    width: 62%;
    
}
.blog__art{
    height: 865px;
}
.art__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.art__info{
    position: relative;
    margin-left: 55px;
}
.art__title{
    font-size: 50px;
    color: #f7ae3b;
    margin: 100px 0 50px 0;
}
.art__info-title{
    font-size: 30px;
    color: #f47649;
    margin-top: 40px;
    margin-bottom: 15px;
}
.art__info-date{
    font-size: 16px;
}
.art__info-text{
    margin-top: 45px;
    margin-left: 60px;
    font-size: 18px;
    line-height: 1.8;
}
.art__info-link{
    color: #000;
}
.art__info::after{
    content: " ";
    display: block;
    background-image:url(../img/blog-line.png);
    background-size: 687px 12px;
    width: 687px;
    height: 12px;
    position: absolute;
    top: -5%;
    right: -8%;
}
.art__img{
    z-index: 1;
}

/*    INSTAGRAM   */

.instagram{
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
}

.instagram__link{
    color: #0aa566;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
}

.instagram__link-img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin-right: 12px;
}

.instagram__list{
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.instagram__item{
    position: relative;
}

.instagram__img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.instagram__item::after{
    content: "";
    display: block;
    background-image:url(../img/Icon-inst.png);
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 22px;
    right: 22px;
}


/*    FOOTER    */

.footer{
    display: flex;
    flex-direction: column;
}
.footer__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__top{
    background-color: #f3ad38;
    display: flex;
    height: 370px;
}
.footer__content{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.footer__list{
    list-style: none;
    padding: 0;
}
.footer__list-link{
    font-size: 18px;
    color: #6d450c;
    text-decoration: none;
}
.footer__list-item{
    margin-bottom: 20px;
}
.footer__list-item:first-child{
    color: #fff;
    font-size: 26px;
    margin-bottom: 40px;
}
.footer__list-item:last-child{
    margin: 0;
}

.footer__payment{
    width: 250px;
}
.payment__title{
    font-size: 26px;
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
}
.payment__list{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px ;
}
.footer__follow{
    position: relative;
}
.follow__title{
    font-size: 26px;
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
}
.follow__input{
    padding: 20px;
    width: 445px;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    color: #77511c;
    text-indent: 42px;
    font-size: 17px;
}
.follow__input::-webkit-input-placeholder{
    color: #77511c;
}
.follow__list{
    list-style: none;
    display: flex;
    gap: 0 25px;
    margin-left: 180px;
    margin-top: 30px;
    padding: 0;
}

.follow__item:first-child{
    font-size: 18px;
    text-transform: uppercase;
    color: #6d450c;
    margin-right: 20px;
}
.follow__img{
    filter: brightness(10);
    -webkit-filter: brightness(10);
}
.follow__link{
    text-decoration: none;
}
.follow__form{
    position: relative;
}
.follow__form::before{
    content: "";
    display: block;
    background-image:url(../img/mail-icon.png);
    background-size: 24px 19px;
    width: 24px;
    height: 19px;
    position: absolute;
    bottom: 32%;
    left: 5%;
}
.follow::before{
    content: "";
    display: block;
    background-image:url(../img/footer-arrow.png);
    background-size: 48px 43px;
    width: 48px;
    height: 43px;
    position: absolute;
    bottom: 20%;
    left: 20%;
}

.footer__menu, .footer__payment, .footer__follow{
    min-height: 210px;
}

.footer__bottom{
    height: 60px;
    background-color: #6d281d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom-text{
    font-size: 13px;
    color: #af8a82;
}
.gotop{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f2662f;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 100px;
    bottom: 38px;
}

/*    ADAPTIVE    */

/*      768px    */

@media screen and (max-width: 768px) {

    /*    HEADER    */

    .header__burger-btn{
        display: block;
        z-index: 2;
    }

    .header__navigation {
        display: none;
        background-color: #0aa566;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center; 
    }

    .menu__list {
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
        align-items: center;
    }

    .menu__link {
        font-size: 2rem;   
    }

    .header__right-block {
        margin: 100px 0 150px;
    }

    /*    SMOOTHIES    */

    .smoothies__container{
        margin-top: 50px;
    }

    .smoothies__title{
        font-size: 1.8rem;
    }

    .smoothies__text {
        font-size: 1rem;
    }

    .variety__list-item{
        min-width: 48%;
    }

    .variety__list-item:nth-child(1n){
        border-style: none solid solid none;
    }

    .variety__list-item:nth-child(2n){
        border-style: none none solid none;
    }

    .variety__list-item:nth-last-child(2){
        border-style: none solid none none;
    }

    .variety__list-item:last-child{
        border: none;
    }

    /*    ABOUT    */

    .about__container{
        width: 90%;
        display: block;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    
    .about__img{
        position: static;
    }

    .about__content{
        width: auto;
    }

    .about__content::before{
        top: 30%;
        left: 48%;
    }

    /*    PRODUCTS    */

    .products{
        overflow: auto;
    }

    .products__list{
        width: 1920px;
    }

    /*    STORY    */

    .story__container{
        width: 90%;
        margin: 90px auto 80px;
        flex-direction: column;
    }

    .story__content{
        width: auto;
        margin-bottom: 80px;
    }

    .story__images{
        width: auto;
    }

    .story__title{
        margin-top: 0;
    }

    /*    TESTIMONIALS */

    .testimonials::after{
        display: none;
    }

    .testimonials__container{
        width: 90%;
    }

    .testimonials__back{
        left: 50%;
        top: 62%;
        font-size: 10rem;
    }

    .testimonials__content{
        flex-direction: column-reverse;
    }

    .testimonials__text{
        margin: 0;
        margin-top: 85px;
    }

    /*    BLOG    */

    .blog__container{
        width: 90%;
    }

    .art__content{
        flex-direction: column;
    }

    .art__info::after{
        display: none;
    }

    .art__info, .art__img{
        width: 100%;
    }

    /*    INSTAGRAM    */

    .instagram{
        align-items: unset;
    }

    .instagram__list{
        width: 1900px;
        overflow-x: auto;
    }

    /*    FOOTER    */

    .footer__container{
        flex-direction: column;
        padding-top: 70px;
    }

    .footer__top{
        height: auto;
    }

    .footer__logo{
        margin-bottom: 70px;
    }

    .footer__content{
        width: 100%;
        justify-content: space-around;
        margin-bottom: 85px;
    }
}

/*    360    */

@media screen and (max-width: 768px){

    /*    SMOOTHIES    */

    .smoothies__title{
        font-size: 2.2rem;
        text-align: center;
    }

    .variety__list-item{
        min-width: 49.5%;
        font-size: 1rem;
    }

    /*    PRODUCTS    */

    .products__list{
        width: 1200px;
    }

    .products__title{
        font-size: 1.35rem;
    }

    /*    STORY    */

    .story__img-second{
        display: none;
    }

    /*    BLOG    */

    .art__info, .art__info-text{
        margin-left: 0;
    }

    .story__images, .story__img-first{
        width: 100%;
    }

    .art__info-text{
        font-size: 1.03rem;
    }






    .about, .testimonials, .footer{
        display: none;
    }
}

    @import 'common/container';
    @import 'normalize';
    @import 'header';
    @import 'personal';
    @import 'social';
    @import 'button';
    @import 'menu';
    @import 'logo';